body {
  background:#111;
  color:white;
  font-family:Arial;
  padding:20px;
}

h1 {
  text-align:center;
}

.card {
  background:#1e1e1e;
  padding:15px;
  border-radius:10px;
  margin-bottom:20px;
}

button {
  padding:10px;
  margin:5px;
  cursor:pointer;
}

.grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:5px;
}

input {
  width:100%;
  padding:10px;
  margin-bottom:10px;
  font-size:16px;
}
